.container{
    margin-right: 170px;
    margin-bottom: -10px;
}
.container-dsc{
    font-family: 'Philosopher', sans-serif;
    margin-left: 80px;
    margin-top: -40px;
    margin-bottom: 20px;
}
ul{
    margin-left: 500px;
    margin-top: -50px;
}
li{
    display: inline-block;
    padding-right: 180px;
    font-size: 150%;
}
.filtre{
    display: inline-table;
    padding-right: 180px;
    font-size: 20px;
    margin-left: -10px;
    text-decoration: none;
    color: #000000;
    font-family: 'Rubik', sans-serif;
}
.a1{
    text-decoration: none;
    color: #000000;
    font-family: 'Rubik', sans-serif;
}
.a1:hover{
    text-shadow: 0px 0px 3px;
    transition: 0.5s;
}
.filtre:hover{
    text-shadow: 0px 0px 3px;
    transition: 0.5s;
}
.intro{
    background-image: url(img/real-madrid-squad-audit-banner.jpg);
    padding: 200px;
    height: 500px;
    background-size: contain;
    position: relative;
}
.text{
    color: black;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 2px;
    font-family: 'Rubik', sans-serif;
}
button {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    text-shadow: none;
    background: transparent;
    box-shadow: transparent;
    border: 1px solid #ffffff;
    transition: 0.5s ease;
    user-select: none;
    font-family: 'Rubik', sans-serif;
  }
  
  #btn:hover,:focus {
    color: #000000;
    background: #ffffff;
    border: 1px solid #ffffff;
    text-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff;
    box-shadow: 0 0 5px #ffffff,
                0 0 20px #ffffff,
                0 0 50px #ffffff,
                0 0 100px #ffffff;
  }
.btn{
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}
legend{
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
}
.text2{
    font-family: 'Rubik', sans-serif;
    text-align: justify;
    padding: 5px;
    text-indent: 15px;
    line-height: 25px;
}
.cap{
    font-size: 40px;
}
.plus{
    padding: 5px;
}
.icon1{
    color: #000000;
    padding-left: 5px;
}
.perso{
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 50px;
}
.tg{
    margin-left: auto;
    margin-right: auto;
}
.tg-0pky{
    font-family: 'Rubik', sans-serif;
    padding-right: 200px;
    padding-left: 50px;
    font-size: 30px;
}
.cmd{
    font-family: 'Rubik', sans-serif;
    padding-right: 200px;
    padding-left: 50px;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 5px;
}
.perso2{
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    padding-top: 50px;
}
#info-stade{
  position: relative;
    overflow: hidden;
    background: #F6F6F6;
    border: 1px solid #D9D9D9;
    border-top: 2px solid #AF994F;
    margin: 20px;
    min-height: 300px;
}

.st1{
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    padding-bottom:50px;
    padding-top: 15px;
    text-align: justify;
}
.st2{
    font-family: 'Rubik', sans-serif;
    padding-left: 15px;
    padding-bottom: 30px;
    font-size: 18px;
    text-align: justify;
}
.abbr{
    text-decoration: none;
    color: navy;
}
.abbr:visited{
    text-decoration: none;
    color: #000000;
}

.gal{
    border: 2px solid #AF994F;
}
.gal img{
    width: 100%;
    height: 100%;
}
.desc{
    font-family:'Rubik', sans-serif ;
    padding: 15px;
    text-align: center;
    background-color: white;
    font-weight: bold;
    border: 2px solid #AF994F;
}
a .autumn{
    height: 450px;
    width: 600;
    position: relative;
}
.buy{
    padding-left: 50px;
}
.GK{
    text-align: left;
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
}

div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #AF994F;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc2 {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
.num{
    text-align: left;
    padding-left: 20px;
    font-family:'Rubik', sans-serif ;
    font-weight: bolder;
}
.name{
    text-align: left;
    padding-left: 20px;
    font-family:'Rubik', sans-serif ;
    font-weight: lighter;
    font-size: 35px;
}
.num2{
    text-align: left;
    padding-left: 20px;
    font-family:'Rubik', sans-serif ;
    font-weight: bolder;
    font-size: 20px;
}
.name2{
    text-align: left;
    padding-left: 20px;
    font-family:'Rubik', sans-serif ;
}
.footer{
    background-color: rgba(128, 128, 128, 0.219)
}
.row{
    text-align: center;
}
.cord{
    margin-top: 30px;
    font-size: 25px;
    font-family:'Rubik', sans-serif ;
    font-weight: bolder;
}
.cord2{
    margin-left: 30px;
    margin-top: 30px;
    font-size: 25px;
    font-family:'Rubik', sans-serif ;
}
.localisation{
    text-decoration: none;
    color: #3a3737;
    font-family:'Rubik', sans-serif ;
}
.localisation:hover{
    color: #000000;
}
.s-m{
    color: #000000;
}
.cr{
    display: grid;
    place-items: center;
    margin-top: 20px;
    font-size: 20px;
    font-family:'Rubik', sans-serif ;
}